html {
  font-family: "Fredoka One", sans-serif;
  background-image: repeating-linear-gradient(-30deg, #d4fdff, #d4fdff 10px, #c9fcff 10px, #c9fcff 30px);
  border-top: 8px solid #b3fbff;
  border-bottom: 6px solid #b3fbff;
  height: 500px;
}

h1 {
  transform-origin: left center;
  color: #990073;
  transform: rotate(-10deg);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

p {
  max-width: 19em;
  transform-origin: left center;
  color: #c09;
  transform: rotate(-6deg);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
}

a {
  color: #c09;
  text-decoration: none;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, .3);
}

img {
  position: absolute;
  max-width: 280px;
}

.btn-ghost {
  color: #c09;
  background-color: transparent;
  border-color: #990073;
}

.btn-ghost:hover {
  color: #c09;
  border-color: #990073;
  background-color: #990073;
}

.text {
  transform-origin: left center;
  animation: text 2000ms ease-in forwards;
}

.mintchip {
  z-index: 3;
  top: 200px;
  left: 70%;
  animation: mintchip .3s linear forwards;
  position: absolute;
  max-height: 170px;
}
.cone {
  z-index: 4;
  top: 305px;
  left: 75%;
  animation: cone .2s linear forwards;
  max-width: 180px;
}

.chocolate {
  z-index: 5;
  top: 150px;
  left: 75%;
  position: absolute;
  width: 180px;
  animation: chocolate .4s linear forwards;
}

.vanilla {
  z-index: 6;
  top: 76px;
  left: 74%;
  position: absolute;
  width: 180px;
  animation: vanilla .5s linear forwards;
}

.cherry {
  z-index: 7;
  top: 4px;
  left: 74%;
  position: absolute;
  width: 180px;
  animation: cherry .6s linear forwards;
}

@keyframes cone {

  0% {
    top: -80%;
  }

  100% {
    top: 325px;
  }

}

@keyframes mintchip {

  0% {
    top: -80%;
  }

  100% {
    top: 230px;
  }

}

@keyframes chocolate {

  0% {
     top: -80%;

  100% {
     top: 140px;
  }

}

@keyframes vanilla {

  0% {
     top: -90%;
  }

  100% {
    top: 150px;
  }

}

@keyframes cherry {

  0% {
     top: -80%;
  }

  100% {
    top: 100px;
  }

}

@keyframes text {

  0% {
    opacity: 0;
    bottom: 100%;
    filter: blur(10px);
  }

  100% {
    opacity: 1;
    filter: blur(0);
  }

}
