html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left center;
}

p {
  color: #c09;
  transform: rotate(-5deg);
  transform-origin: left center;
  max-width: 19em;
}

a {
  color: #c09;
  text-decoration: none;
}

.btn-ghost {
  color: #c09;
  border: 3px solid #990073;
  border-radius: 4px;
  background-color: transparent;
}

.btn-ghost:hover {
  color: #c09;
  background-color: #c09;
  border-color: #990073;
}

.box {
  position: relative;
  transform-origin: left;
  left: 50px;
  top: 10px;
  animation: box 1s linear;
  text-shadow: 1px 1px 1px;
}

.cone {
  right: 20px;
  bottom: -20px;
  animation: cone .2s linear forwards;
}

.mintchip {
  right: 20px;
  bottom: -20px;
  animation: .2s linear forwards;
}

.chocolate {
  right: 20px;
  bottom: -20px;
  animation: .2s linear forwards;
}

.vanilla {
  right: ;
  bottom: ;
  animation: .2s linear forwards;
}

.cherry {
  right: 20px;
  bottom: -20px;
  animation: .2s linear forwards;
}

@keyframes cone {

  from {
    bottom: ;
  }

  to {
    bottom: ;
  }
}

@keyframes cherry {

  from {
    bottom: ;
  }

  to {
    bottom: ;
  }
}

@keyframes chocolate {

  0% {
    top: -90%;
  }

  100% {
      top: 65px;
  }
}

@keyframes mintchip {

  from {
    bottom: ;
  }

  to {
    bottom: ;
  }
}

@keyframes vanilla {

  from {
    bottom: ;
  }

  to {
    bottom: ;
  }
}
