html {
  font-family: "Fredoka One", sans-serif;
}

h1 {
  color: #990073;
  transform: rotate(-10deg);
  transform-origin: left center;
}

p {
  color: #c09;
  transform: rotate(-5deg);
  transform-origin: left center;
  max-width: 19em;
}

a {
  color: #c09;
  text-decoration: none;
}

.btn-ghost {
  color: #c09;
  border: 3px solid #990073;
  border-radius: 4px;
  background-color: transparent;
}

.btn-ghost:hover {
  color: #c09;
  background-color: #c09;
  border-color: #990073;
}

.box {
  position: relative;
  transform-origin: left;
  left: 50px;
  top: 10px;
  animation: box 1s linear;
  text-shadow: 1px 1px 1px;
}

.cone {
  right: 20px;
  bottom: -20px;
  animation: cone .2s linear forwards;
}

.mintchip {
  right: 20px;
  bottom: -20px;
  animation: mint .3s linear forwards;
}

.chocolate {
  right: 20px;
  bottom: -20px;
  animation: chocolate .4s linear forwards;
}

.vanilla {
  right: 20px;
  bottom:-20px ;
  animation: vanilla .5s linear forwards;
}

.cherry {
  right: 20px;
  bottom: -20px;
  animation: cherry .6s linear forwards;
}

@keyframes cone {

  0% {
    transform: translateX();
    transform: translateY();
  }

  100% {
    transform: translateX();
    transform: translateY();
  }
}

@keyframes cherry {

  0% {
    transform: translateX();
    transform: translateY();
  }

  100% {
    transform: translateX();
    transform: translateY();
  }

}

@keyframes chocolate {

  0% {
    transform: translateX();
    transform: translateY();
  }

  100% {
    transform: translateX();
    transform: translateY();
  }

}

@keyframes mintchip {

  0% {
    transform: translateX();
    transform: translateY();
  }

  100% {
    transform: translateX();
    transform: translateY();
  }

}

@keyframes vanilla {

  0% {
    transform: translateX();
    transform: translateY();
  }

  100% {
    transform: translateX();
    transform: translateY();
  }
  
}
